
.services-container{
	margin: 0 auto;
	margin-top: 5rem;
	padding: 2rem 1rem;
	max-width: 1200px;
	text-align: start;
}

.services-container h1{
	text-align: center;
}

.services-container h3{
	text-align: start;
	font-size: 1.5rem;
}

.services-container h4{
	text-align: start;
	font-size: 1.2rem;
}