.estimate-container{
	padding: 2rem 1rem;
	margin: 0 auto;
	max-width: 1200px;
}


.estimate-content button{
	padding: 0.5rem 1rem;
	background-color: #333C83;
	color: #fff;
	font-size: 1.5rem;
	border-style: none;
}

.estimate-content button:hover, .estimate-content button:focus{
	background-color: #47B5FF;
}
