

footer{
	width: 100%;
	padding: 2rem 1rem;
	background-color: #47B5FF;
	color: #fff;

}


.footer-nav{
	margin: 0 auto;
	display: flex;
	align-items: center;
}

hr{
	margin: 2rem 0;
}

.footer-links{
	margin:  0 auto;
	display: flex;
	align-items: center;
}

.footer-nav a{
	color: #fff;

}

.footer-contact a{
	color: #fff;
}

.footer-nav li{
	margin: 0 1rem;
	list-style: none;
	font-size: 1.3rem;
  }

  .footer-nav a{
	text-decoration: none;
	color: #fff;
}