nav{
	/* background-color: rgba(28, 28, 28, 0.8); */
	background-color: #47B5FF;
	width: 100%;
	padding: 1rem 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
}

.nav-links{
	display: flex;
	align-items: center;
	margin: 0;
}

.nav-links li{
	margin: 0 1rem;
	list-style: none;
	font-size: 1.3rem;
  }

.nav-links a{
	text-decoration: none;
	color: #fff;
}